.debug {
    border: 1px solid red;
}

.font-gold {
    color: #ff9900;
}

.font-white {
    color: #f0f0f0;
}

.font-big {
    font-family: "Tourney", cursive;
    font-weight: 700;
    font-weight: bold;
}

.font-small {
    font-family: "Tourney", cursive;
    font-weight: 900;
    font-weight: bold;
}

.font-medium {
    font-family: "Source Code Pro", monospace;
}

.nav-link:hover {
    color: #f0f0f0 !important;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}